.Academica{
    background-image: url(../../Assets/img/fondocontenido.png);
    display: flex;
    flex-direction: column;
}
.cajaAcademica{
    padding: 30px;
}


.tituloPerfil{
    background-color:#8C747B;
    width: 20rem;
    height: 2rem;
    text-align: center;
    align-items: center;
    color:#F2F2F2;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}
.cajaCompetencias h2{
    font-size: 18px;
    
}

.cajaparrafo{
    padding: 10px;
}

.habilidad{
   margin-top: 30px; 
}


@media screen and (max-width:768px){
    .contact{
       display: flex;
       flex-direction: column;
       margin: 0;
       padding: 0;
       height: auto;
       
    }

    .cajaderecha{
        display: flex;
        flex-direction: column;
    }

    .tituloPerfil{
        background-color:#8C747B;
        width: 15rem;
        text-align: center;
        color:#F2F2F2;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .cajaCompetencias h2{
        font-size: 18px;
        
    }
}